[submodule "ext/kmerind"]
	path = ext/kmerind
	url = https://github.com/ParBLiSS/kmerind.git
[submodule "ext/flat_hash_map"]
	path = ext/flat_hash_map
	url = https://github.com/skarupke/flat_hash_map.git
[submodule "ext/martinus"]
	path = ext/martinus
	url = https://github.com/martinus/robin-hood-hashing.git
