[submodule "ext/kmerind"]
	path = ext/kmerind
	url = https://github.com/ParBLiSS/kmerind.git
	branch = master
[submodule "ext/martinus"]
	path = ext/martinus
	url = https://github.com/tcpan/robin-hood-hashing.git
	branch = master	
[submodule "ext/lz4"]
	path = ext/lz4
	url = https://github.com/tcpan/lz4.git
	branch = dev
[submodule "ext/clhash"]
	path = ext/clhash
	url = https://github.com/lemire/clhash.git
