[submodule "ext/kmerind"]
	path = ext/kmerind
	url = https://github.com/ParBLiSS/kmerind.git
	branch = master
[submodule "ext/flat_hash_map"]
	path = ext/flat_hash_map
	url = https://github.com/skarupke/flat_hash_map.git
[submodule "ext/martinus"]
	path = ext/martinus
	url = https://github.com/tcpan/robin-hood-hashing.git
	branch = master	
[submodule "ext/lz4"]
	path = ext/lz4
	url = https://github.com/tcpan/lz4.git
	branch = dev
[submodule "ext/cotire"]
	path = ext/cotire
	url = https://github.com/sakra/cotire.git
